In [1]:
import pandas as pd

In [21]:
df=pd.read_csv('VK100.csv',index_col=[0])

In [22]:
df.head(5)

,Format,Inning,Position,Score,Balls,Strike Rate,Against,Venue,Host Nation,Series,Year,Team Total,Wickets lost,Not Out,MOTM,Win,Captain
Number,,,,,,,,,,,,,,,,,
1,ODI,2,4,107,114,93.859649,Sri Lanka,Kolkata,India,Bilateral,2009,316,3,No,No,Yes,No
2,ODI,2,3,102,95,107.368421,Bangladesh,Mirpur,Bangladesh,Tri-Series,2010,249,4,Yes,Yes,Yes,No
3,ODI,2,3,118,121,97.520661,Australia,Vizag,India,Bilateral,2010,292,5,No,Yes,Yes,No
4,ODI,1,3,105,104,100.961539,New Zealand,Guwahati,India,Bilateral,2010,276,10,No,Yes,Yes,No
5,ODI,1,4,100,83,120.481928,Bangladesh,Mirpur,Bangladesh,World Cup,2011,370,4,Yes,No,Yes,No

In [24]:
df=df.drop(["MOTM","Win","Captain","Series"],axis=1)

In [25]:
df_odi=df[df.Format=='ODI']

In [26]:
df.describe()

,Inning,Score,Balls,Strike Rate,Year,Team Total,Wickets lost
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,1.643678,129.367816,146.482759,103.405971,2016.275862,336.482759,6.057471
std,0.664324,34.474836,75.912260,38.835304,3.668501,115.286081,2.833998
min,1.000000,100.000000,50.000000,34.915254,2009.000000,166.000000,1.000000
25%,1.000000,107.000000,96.500000,75.665266,2013.500000,269.000000,4.000000
50%,2.000000,117.000000,119.000000,97.520661,2016.000000,311.000000,6.000000
75%,2.000000,138.500000,192.000000,121.093677,2018.000000,366.000000,9.000000
max,4.000000,254.000000,366.000000,226.000000,2023.000000,687.000000,10.000000

In [28]:
df.columns

Index(['Format', 'Inning', 'Position', 'Score', 'Balls', 'Strike Rate',
       'Against', 'Venue', 'Host Nation', 'Year', 'Team Total', 'Wickets lost',
       'Not Out'],
      dtype='object')

In [29]:
from sklearn.preprocessing import LabelEncoder

In [30]:
e=LabelEncoder()

In [32]:
df.Format=e.fit_transform(df.Format)

In [33]:
df.Position=e.fit_transform(df.Position)

In [34]:
df.Venue=e.fit_transform(df.Venue)

In [35]:
df["Host Nation"]=e.fit_transform(df["Host Nation"])

In [36]:
df.Against=e.fit_transform(df.Against)

In [37]:
df

,Format,Inning,Position,Score,Balls,Strike Rate,Against,Venue,Host Nation,Year,Team Total,Wickets lost,Not Out
Number,,,,,,,,,,,,,
1,0,2,1,107,114,93.859649,12,27,3,2009,316,3,No
2,0,2,0,102,95,107.368421,2,29,1,2010,249,4,Yes
3,0,2,0,118,121,97.520661,1,43,3,2010,292,5,No
4,0,1,0,105,104,100.961539,8,17,3,2010,276,10,No
5,0,1,1,100,83,120.481928,2,29,1,2011,370,4,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,3,1,1,121,206,58.737864,14,37,8,2023,438,10,No
84,0,1,0,122,94,129.787234,9,10,6,2023,356,2,Yes
85,0,2,0,103,97,106.185567,2,38,3,2023,261,3,Yes
86,0,1,0,101,121,83.471074,11,27,3,2023,326,5,Yes
87,0,1,0,117,112,104.464286,8,31,3,2023,397,4,No

In [38]:
df["Not Out"]=e.fit_transform(df["Not Out"])

In [39]:
df.describe()

,Format,Inning,Position,Score,Balls,Strike Rate,Against,Venue,Host Nation,Year,Team Total,Wickets lost,Not Out
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,1.103448,1.643678,0.839080,129.367816,146.482759,103.405971,7.505747,22.298851,3.310345,2016.275862,336.482759,6.057471,0.310345
std,1.389617,0.664324,1.180004,34.474836,75.912260,38.835304,4.999706,13.757125,2.174430,3.668501,115.286081,2.833998,0.465317
min,0.000000,1.000000,0.000000,100.000000,50.000000,34.915254,0.000000,0.000000,0.000000,2009.000000,166.000000,1.000000,0.000000
25%,0.000000,1.000000,0.000000,107.000000,96.500000,75.665266,2.000000,10.000000,3.000000,2013.500000,269.000000,4.000000,0.000000
50%,0.000000,2.000000,1.000000,117.000000,119.000000,97.520661,8.000000,25.000000,3.000000,2016.000000,311.000000,6.000000,0.000000
75%,3.000000,2.000000,1.000000,138.500000,192.000000,121.093677,12.000000,33.500000,4.000000,2018.000000,366.000000,9.000000,1.000000
max,3.000000,4.000000,4.000000,254.000000,366.000000,226.000000,15.000000,44.000000,9.000000,2023.000000,687.000000,10.000000,1.000000

In [40]:
df.corr()

,Format,Inning,Position,Score,Balls,Strike Rate,Against,Venue,Host Nation,Year,Team Total,Wickets lost,Not Out
Format,1.000000,0.267119,0.407380,0.405751,0.760981,-0.561805,-0.190045,-0.031440,-0.072320,0.053642,0.511679,0.521086,-0.230056
Inning,0.267119,1.000000,-0.029496,-0.130786,0.068011,-0.233388,-0.158666,0.000336,-0.147947,-0.216846,-0.180981,0.004827,0.136196
Position,0.407380,-0.029496,1.000000,-0.085708,-0.021060,0.317738,-0.185110,-0.229798,-0.080010,0.072155,-0.136012,-0.091084,0.028480
Score,0.405751,-0.130786,-0.085708,1.000000,0.727473,-0.262605,0.069878,0.114040,-0.036441,0.115586,0.703676,0.173304,-0.101430
Balls,0.760981,0.068011,-0.021060,0.727473,1.000000,-0.758499,-0.091734,0.095804,-0.092777,0.014297,0.734062,0.552199,-0.326234
Strike Rate,-0.561805,-0.233388,0.317738,-0.262605,-0.758499,1.000000,0.006544,-0.132664,0.068951,0.123493,-0.450889,-0.646615,0.363404
Against,-0.190045,-0.158666,-0.185110,0.069878,-0.091734,0.006544,1.000000,0.137248,0.572592,0.077891,-0.073436,-0.185901,0.111683
Venue,-0.031440,0.000336,-0.229798,0.114040,0.095804,-0.132664,0.137248,1.000000,0.127471,0.011941,0.121986,-0.020726,0.087065
Host Nation,-0.072320,-0.147947,-0.080010,-0.036441,-0.092777,0.068951,0.572592,0.127471,1.000000,0.187390,-0.116846,-0.185961,0.179518
Year,0.053642,-0.216846,0.072155,0.115586,0.014297,0.123493,0.077891,0.011941,0.187390,1.000000,0.090109,-0.042925,0.105936
Team Total,0.511679,-0.180981,-0.136012,0.703676,0.734062,-0.450889,-0.073436,0.121986,-0.116846,0.090109,1.000000,0.393359,-0.293932
Wickets lost,0.521086,0.004827,-0.091084,0.173304,0.552199,-0.646615,-0.185901,-0.020726,-0.185961,-0.042925,0.393359,1.000000,-0.569195
Not Out,-0.230056,0.136196,0.028480,-0.101430,-0.326234,0.363404,0.111683,0.087065,0.179518,0.105936,-0.293932,-0.569195,1.000000

In [41]:
x=df.drop("Team Total",axis=1)

In [42]:
y=df["Team Total"]

In [45]:
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size = 0.20)

In [44]:
from sklearn.model_selection import train_test_split